<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ constant('APP_NAME') }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/assets/favicon.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon.svg">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.svg">
    <link rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.css"/>
    <script src="/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/favicon.svg" alt="Todolist" height="24" class="d-inline-block align-text-top">
            Arnapou todolist
        </a>
        {% block navbar %}{% endblock %}
        <a class="nav-link active" aria-current="page" href="https://gitlab.com/arnapou/todolist">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 100 92" xml:space="preserve" height="1em">
                <g>
                    <path class="st0" fill="#E24329"
                          d="M95.9,36.5l-0.1-0.3L82.8,2.4c-0.3-0.7-0.7-1.2-1.3-1.6c-0.6-0.4-1.3-0.6-2-0.5c-0.7,0-1.4,0.3-2,0.7 c-0.6,0.4-1,1.1-1.1,1.7l-8.7,26.7H32.3L23.6,2.7C23.4,2.1,23,1.4,22.5,1c-0.6-0.4-1.2-0.7-2-0.7c-0.7,0-1.4,0.1-2,0.5 c-0.6,0.4-1.1,0.9-1.3,1.6L4.2,36.1l-0.1,0.3c-3.8,10-0.6,21.3,8,27.7c0,0,0,0,0,0l0.1,0.1l19.7,14.7l9.7,7.4l5.9,4.5 c1.4,1.1,3.4,1.1,4.8,0l5.9-4.5l9.7-7.4l19.8-14.8c0,0,0,0,0.1,0C96.5,57.8,99.7,46.5,95.9,36.5z"/>
                    <path class="st1" fill="#FC6D26"
                          d="M95.9,36.5l-0.1-0.3c-6.4,1.3-12.3,4-17.4,7.8C78.3,44,63,55.6,50,65.4c9.7,7.3,18.1,13.7,18.1,13.7l19.8-14.8 c0,0,0,0,0.1,0C96.5,57.8,99.7,46.5,95.9,36.5z"/>
                    <path class="st2" fill="#FCA326"
                          d="M31.9,79.1l9.7,7.4l5.9,4.5c1.4,1.1,3.4,1.1,4.8,0l5.9-4.5l9.7-7.4c0,0-8.4-6.4-18.1-13.7 C40.3,72.7,31.9,79.1,31.9,79.1z"/>
                    <path class="st1" fill="#FC6D26"
                          d="M21.6,43.9c-5.1-3.8-11-6.5-17.4-7.8l-0.1,0.3c-3.8,10-0.6,21.3,8,27.7c0,0,0,0,0,0l0.1,0.1l19.7,14.7 c0,0,8.4-6.4,18.1-13.7C37,55.6,21.7,44,21.6,43.9z"/>
                </g>
            </svg>
            Source Gitlab
        </a>
    </div>
</nav>
<main>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>