{% extends 'base.twig' %}

{% block title %}500 Internal server error{% endblock %}

{% block content %}
    <h1>Oops!</h1>
    <h2>{{ block('title') }}</h2>
    <div class="error-details">
        {{ throwable.message }}
    </div>
    <div class="error-actions">
        <a href="/" class="btn btn-primary">Take me home</a>
    </div>
{% endblock %}
