{% extends 'base.twig' %}

{% block title %}404 Page not found{% endblock %}

{% block content %}
    <h1>Oops!</h1>
    <h2>{{ block('title') }}</h2>
    <div class="error-details">
        Sorry, an error has occured, Requested page not found!
    </div>
    <div class="error-actions">
        <a href="/" class="btn btn-primary">Take me home</a>
    </div>
{% endblock %}
