{% extends 'base.twig' %}

{% block content %}
    <p class="py-2">Choose an action</p>

    <a href="/new" class="btn btn-dark">
        Create new list
    </a>

    <a href="/" class="btn btn-primary" id="goto" style="display: none">
        Go to list <span></span>
    </a>

    <script>
        $(document).ready(
            function () {
                let goto = $('#goto');
                let todolist = localStorage.getItem('todolist');
                if (todolist) {
                    goto.find('span').text(todolist);
                    goto.attr('href', '/?todolist=' + encodeURIComponent(todolist))
                    goto.show();
                }
            }
        );
    </script>
{% endblock %}
