{% extends 'base.twig' %}


{% block navbar %}
    <a class="nav-link active" aria-current="page" href="/?todolist={{ todolist.name }}">
        {{ todolist.name }}
    </a>
{% endblock %}

{% block content %}
    <style>
        input {
            font-size: inherit !important;
        }

        tr input.task-description, tr.edition span.task-description {
            display: none;
        }

        tr.edition input.task-description {
            display: block;
        }

        tr select.task-status, tr.edition span.task-status {
            display: none;
        }

        tr.edition select.task-status {
            display: block;
        }

        tr button.action-cancel, tr button.action-ok, tr.edition button.action-edit {
            display: none;
        }

        tr.edition button.action-cancel, tr.edition button.action-ok {
            display: inline;
        }

        .status-finished th, .status-finished td:nth-child(2), .status-finished td:nth-child(3) {
            text-decoration: line-through;
            color: rgb(108, 117, 125);
        }

        .status-pending th, .status-pending td:nth-child(2), .status-pending td:nth-child(3) {
            color: rgb(13, 110, 253);
        }
    </style>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
            <th scope="col">Dates</th>
            <th scope="col" class="text-sm-end">Actions</th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr class="template_row" style="display: none">
            <th class="col-1 task-num" scope="row"></th>
            <td class="col-2">
                <span class="task-status"></span>
                <select class="task-status form-select" name="status" aria-label="Statuses">
                    {% for name, value in statuses %}
                        <option value="{{ value }}" class="status-{{ value }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="col-10">
                <span class="task-description"></span>
                <input class="task-description form-control form-control-sm" type="text"
                       name="description" placeholder="description" aria-label="Description">
            </td>
            <td class="col-1 text-nowrap small text-muted">
                <span class="task-createdAt" title="Created at"></span><br>
                <span class="task-modifiedAt" title="Modified at"></span>
            </td>
            <td class="col-1 text-nowrap text-sm-end">
                <button type="button" class="btn-sm btn-secondary action-cancel" title="Cancel">cancel</button>
                <button type="button" class="btn-sm btn-success action-ok" title="Ok">ok</button>
                <button type="button" class="btn-sm btn-primary action-edit" title="Edit">edit</button>
                <button type="button" class="btn-sm btn-danger action-delete" title="Delete">del</button>
            </td>
        </tr>
        <tr>
            <th class="task-num"></th>
            <td class="task-status"></td>
            <td class="task-title">
                <input class="form-control form-control-sm" type="text"
                       name="description" placeholder="description" aria-label="Description">
            </td>
            <td></td>
            <td class="text-sm-end">
                <button type="button" class="btn-sm btn-success action-new" title="New">new</button>
            </td>
        </tr>
        </tfoot>
    </table>

    <div class="failure" style="display: none">
        <div class="my-5 alert alert-danger" role="alert">
            Ooops !<br>
            There was a failure, you must refresh this page or contact the administrator.
        </div>
    </div>

    <script>
        $(document).ready(
            function () {
                let apiurl = {{ apiurl|json_encode|raw }};
                let todolist = {{ todolist.name|json_encode|raw }};
                let authorization = {{ authorization|json_encode|raw }};
                let statuses = {{ statuses|json_encode|raw }};

                let $table = $('table');
                let $failure = $('div.failure');
                let template_row = '<tr>' + $table.find('tr.template_row').html() + '</tr>';

                localStorage.setItem('todolist', todolist);

                let ajax = function (method, endpoint, data) {
                    return $.ajax({
                        method: method,
                        url: apiurl + endpoint,
                        data: {...(data || {}), todolist: todolist},
                        headers: {Authorization: authorization}
                    }).fail(function () {
                        $table.hide();
                        $failure.show();
                    })
                }

                let timestampToText = function (timestamp) {
                    return (new Date(timestamp * 1000)).toLocaleString();
                };

                let setStatus = function ($tr, status) {
                    if (status === statuses.pending) {
                        $tr.addClass('status-pending');
                    } else if (status === statuses.finished) {
                        $tr.addClass('status-finished');
                    }
                }

                let refreshtable = function () {
                    ajax('GET', 'tasks').done(function (tasks) {
                        $table.find('tbody').empty();
                        for (let i = 0; i < tasks.length; i++) {
                            let task = tasks[i];
                            let $tr = $(template_row);
                            $table.find('tbody').append($tr);
                            setStatus($tr, task.status);
                            $tr.data('id', task.id);
                            $tr.find('.task-num').text(i + 1);
                            $tr.find('span.task-status').text(task.status);
                            $tr.find('select.task-status').val(task.status);
                            $tr.find('span.task-description').text(task.description);
                            $tr.find('input.task-description').val(task.description);
                            $tr.find('.task-createdAt').text(timestampToText(task.createdAt));
                            $tr.find('.task-modifiedAt').text(timestampToText(task.modifiedAt));
                        }
                    });
                }

                $(document).on('keyup', 'tr input[name=description]', function (e) {
                    if (e.keyCode === 13) {
                        let $tr = $(this).parents('tr');
                        $tr.find('button.action-new, button.action-ok').trigger('click');
                    }
                });

                $(document).on('click', 'button.action-delete', function () {
                    let $tr = $(this).parents('tr');
                    if (window.confirm('Delete this item ?')) {
                        ajax('DELETE', 'task', {id: $tr.data('id')}).done(refreshtable)
                    }
                });

                $(document).on('click', 'button.action-edit', function () {
                    let $tr = $(this).parents('tr');
                    $tr.addClass('edition');
                });

                $(document).on('click', 'button.action-cancel', refreshtable);

                $(document).on('click', 'button.action-new', function () {
                    let $tr = $(this).parents('tr');
                    ajax('POST', 'task', {
                        id: $tr.data('id'),
                        description: $tr.find('input[name=description]').val(),
                    }).done(function () {
                        refreshtable();
                        $tr.find('input[name=description]').val('');
                    })
                });

                $(document).on('click', 'button.action-ok', function () {
                    let $tr = $(this).parents('tr');
                    ajax('PATCH', 'task', {
                        id: $tr.data('id'),
                        status: $tr.find('select[name=status]').val(),
                        description: $tr.find('input[name=description]').val(),
                    }).done(refreshtable)
                });

                refreshtable();
            }
        );
    </script>
{% endblock %}
